@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="row">
        <div class="col-md-3">
            <h2>Tip polaganja</h2>
            <ul>
                <li><a asp-area="" asp-controller="TipPolaganjas" asp-action="Index">Tip polaganja</a></li>
                

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Pitanja</h2>
            <ul>
                <li><a asp-area="" asp-controller="Pitanjas" asp-action="Index">Pitanja</a></li>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Odabir tipa polaganja</h2>
            <ul>
                <li><a asp-area="" asp-controller="OdabirTipas" asp-action="Index">Odabir tipa polaganja</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Odgovori</h2>
            <ul>
                <li><a asp-area="" asp-controller="Odgovors" asp-action="Index">Odgovori</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Odgovor na pitanje</h2>
            <ul>
                <li><a asp-area="" asp-controller="OdgNaPitanjes" asp-action="Index">Odgovor na pitanje</a></li>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Certifikati</h2>
            <ul>
                <li><a asp-area="" asp-controller="OdgNaPitanjes" asp-action="Index">Odgovor na pitanje</a></li>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Polaznici</h2>
            <ul>
                <li><a asp-area="" asp-controller="OdgNaPitanjes" asp-action="Index">Odgovor na pitanje</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Računi i virmani</h2>
            <ul>
                <li><a asp-area="" asp-controller="OdgNaPitanjes" asp-action="Index">Odgovor na pitanje</a></li>
            </ul>
        </div>
    </div>
